*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.logo{
  float: left;
  width: 230px;
  margin-top: 10px;
}
    
.main{
   width: 100%;
  background-color: #f5f5f5;
}

.navbar{
   width: 100%;
  height: 100px;
  margin: auto;
  background-color: white;
  box-shadow: 5px 3px 10px lightgrey;
}

.icon{

  float: left;

}

.login-btn{
  color: #dd7230;
  border-radius: 20px;
  border: 2px solid #dd7230; 
  padding: 3px 30px 3px 30px;
}

.icon img{
  float: left;
  width: 150px;
}

menu{
  width: 500px;
  height: 70px;
  float: right;
  color: black;
}

ul{
  margin-top: -15px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 100px;
}

ul li{
  list-style: none;
  margin-left: 50px;
  margin-top: 45px;
  font-size: 19px;
  font-weight: bold;

}

ul li a{
  text-decoration: none;
  transition: 0.5s ease;
  color: black;
}

ul li a:hover{
  color: #dd7230;

  
}


/* Content 1 =======================================================*/

.content{
  /*border: 1px solid black;*/
  width: 1200px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 3px 10px lightgrey;

}

.cont-grid{
  margin-top: 50px;
  min-height: 1000px;
  height: 100%;
}

.filter{
  width: 100%;
  height: 50px;
  border: 1px solid blue;

}

.result1{
  width: 100%;
  height: 100%;
}

.result2{
  height: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 280px 280px 280px ;
  grid-template-rows: 530px 530px 530px ;
  grid-gap: 30px;
}




.search-btn:hover{
  border: 2px solid maroon;
}

.signup-btn{
  
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border: 2px solid #dd7230;
  background-color: #f4c95d;
  border-radius: 20px;
  transition: 0.5s ease;
}


/* end content 1 =====================================================================*/

/*content 2 =====================================================================*/

.content2{
  width: 1200px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 50px;
  justify-content: center;
}

.box{
  height: 400px;
  /*border: 1px solid black;*/
}



/* end content 2 =====================================================================*/

/*content 3 =====================================================================*/

.footer{
 color: lightgrey;
  width: 100%;
  height: 300px;
  background-color: #854d27;
}

.contfoot{
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.footleft{
  height: 250px;

}

.footmid{
  height: 250px;

}

.footright{
  height: 250px;

}

.img-foot{
  width: 100px;
  margin-left: 50px;
}

.foot-med{
  
  height: 50px;
  margin-top: -10px;
  padding-left: 10px;
  margin-left: 40px;
  float: left;
}

.foot-med2{
  margin-top: 10px;

  color: lightgrey;
  text-decoration: none;
}

.foot-med3{
  margin-top: 10px;

  color: lightgrey;
  text-decoration: none;
}

.foot-med2:hover{
  color: white;
}

.fa {
  padding: 13px;
  font-size: 20px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 13px 2px;
  border-radius: 50%;
}

.fa-facebook:hover{
  opacity: 0.91;
}

.fa-twitter:hover{
  opacity: 0.91;
}
.fa-google:hover{
  opacity: 0.91;
}
.fa-linkedin:hover{
  opacity: 0.91;
}
.fa-youtube:hover{
  opacity: 0.91;
}

.fa-facebook{
    background: #3B5998;
  color: white;
}

.fa-twitter{
    background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.input_search{

  width: 400px;
  height: 28px;
  font-size: 14px;  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}



.search-btn{
  margin-right: 300px;
  width: 130px;
  height: 40px;
  font-size: 16px;  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}




.dropbtn {
  background-color: #dd7230;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  min-width: 100px;
  max-width: 150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}



.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #dd7230; opacity: 0.9;}



.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.recipe-form{
  text-align: center;
  margin: auto;
  width: 1000px;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0 ,0.35);
}

.gender{
  display: none;
}

.app-paper{
  text-align: center;
  margin-left: 130px;
  margin-right: auto;
  isplay: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 100px;
}

.lbl-radio{
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0 ,0.35);
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}


.image img{

  width: 128px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0 ,0.35);
}

input[type=radio]:checked + .lbl-radio{
  border: 2px solid;
  border-color: #3A3939;
}

.wrapper-slider{
  width: 500px;
  background: #dadada;
  padding: 20px 20px 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.wrapper-slider .slider{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.wrapper-slider .slider input{
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
}


.svalue{
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.sliderr::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: #dd7230;
  cursor: pointer;
}


.rec-mats{
  columns: 30px;

}

textarea{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  min-width: 410px;
  max-width: 410px;
  min-height: 500px; 
  max-height: 500px;
  border-radius:20px;
  border:1px solid lightgrey;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0 ,0.25);
}

textarea:focus{
  border-color: #dd7230;
}

.rec-title{
  border: 1px solid lightgrey;
  border-radius: 5px;

  width: 520px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0 ,0.25);
}

.tbl1{
  margin-left: 20px;
  text-align: left;
  align-items: left;
}

.tbl1 td{

  padding-left: 10px;
  padding-right: 10px;
}

tr{
  border: 1px solid red;
}

.tbl2 td{

  padding-left: 10px;
  padding-right: 10px;
}

.container{

  height: 350px;
  width: 350px;
}

.container .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border: 2px dashed grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper .image2{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .image2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .icon{
  margin-right: 90px;
  font-size: 100px;
  color: grey;
  opacity: 0.4;
}

.wrapper .text{
  font-size: 17px;
  color: grey;
  opacity: 0.4;
  margin-left: 10px;
  font-weight: 600;
}

.wrapper #cancel-btn{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 0px;
  cursor: pointer;
  display: none;
 
}

.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 17px;
  display: none;
  background: linear-gradient(135deg, #dd7230 0%,#f4c95d 100%)
}


.container #default-btn{
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 400px;
  height: 30px;
  font-size: 15px;
}

.contain{
 
  width: 88%;
  display: flex;
  flex-wrap: wrap;
}

.contain .option_item{
  display: block;
  position: relative;
  width: 130px;
  height: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.option_item .option_inner{
  border: 1px solid red;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;

  padding: 5px 8px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 3px solid grey;
  position: relative;

}

.option_item .checkbox1{
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 1;
  opacity: 0;
}

.option_item .checkbox1:checked ~ .option_inner {
  border-color: #dd7230;
}

.option_item .option_inner .tickmark{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 20px solid;
  border-color: grey transparent transparent grey;
}

.option_item .option_inner .tickmark:before{
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent white white;
  transform: rotate(-45deg); 
}

.option_item .checkbox1:checked ~ .option_inner .tickmark{
  border-color:  #dd7230 transparent transparent  #dd7230;
}

.rec_cat{

}


.create-btn{

  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  background: linear-gradient(135deg, #dd7230 0%,#f4c95d 100%);
  border-radius: 20px;
  cursor: pointer;
}

.create-btn:hover{
  opacity: 0.9;

}